.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background: #111;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 250px;

  &:hover,
  &:focus,
  &:active {
    border-color: #fff;
  }

  img {
    margin-bottom: 0.5rem;
  }

  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }
}
